*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

/* NAVBAR */
.navbar{
  display:grid;
  grid-template-columns:60px 1fr;
  align-items:center;
  background:#000;
  color:#fff;
  padding:12px 18px;
  position:fixed;
  top:0;
  width:100%;
  z-index:1000;
}

.hamburger{
  font-size:28px;
  font-weight:900;
  cursor:pointer;
}

/* LOGO + NAME CENTER */
.title-box{
  text-align:center;
}

.logo-img{
  width:55px;
  display:block;
  margin:0 auto 5px;
}

.logo{
  font-size:16px;
  letter-spacing:1px;
  font-weight:700;
}

/* SIDE MENU */
.nav-links{
  position:fixed;
  top:60px;
  left:-240px;
  width:220px;
  height:100vh;
  background:#111;
  display:flex;
  flex-direction:column;
  padding-top:20px;
  transition:.4s;
}

.nav-links a{
  color:#fff;
  padding:12px 20px;
  text-decoration:none;
  border-bottom:1px solid #222;
}

.nav-links a:hover{ background:#444; }
.nav-links.show{ left:0; }

/* HERO */
.hero{
  height:70vh;
  margin-top:70px;
  background:url("BG.jpg") center/cover no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}
.hero::before{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,.55);
}
.hero-content{ position:relative; text-align:center; }
.hero-content h2{ color:#fff; font-size:20px; }

/* SHOWCASE PRODUCTS */
.products{
  padding:50px 20px;
  text-align:center;
}
.section-title{
  margin-bottom:25px;
  font-size:22px;
  font-weight:700;
}

.product-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:25px;
  max-width:900px;
  margin:0 auto;
}

.product-card{
  background:#fff;
  border-radius:15px;
  padding:15px;
  box-shadow:0 8px 20px rgba(0,0,0,.12);
}

.product-card img{
  width:100%;
  height:260px;
  object-fit:cover;
  border-radius:10px;
  margin-bottom:10px;
}

.product-card h3{ margin-top:5px; }
.product-card p{ color:#555; }

.products-btn{
  margin-top:25px;
}
.products-btn a{
  display:inline-block;
  padding:10px 18px;
  border-radius:10px;
  background:#000;
  color:#fff;
  text-decoration:none;
  font-weight:700;
}
.products-btn a:hover{
  opacity:.85;
  transform:scale(1.03);
}

/* TRUST SECTION */
.trust-box{
  background:#f3ebef;
  padding:35px 0;
  text-align:center;
  font-weight:600;
}

/* FOOTER */
.footer{
  background:#000;
  color:#fff;
  text-align:center;
  padding:15px 0;
}

/* MOBILE */
@media(max-width:768px){
  .product-grid{
    grid-template-columns:1fr;
  }
}
